/** CATALOGUE EVENEMENTS **/

.page-events #zone2 .esf-form-zone .event-search-form .esf-as-header{
    position: initial;
}

.catal-prd-main-price{
display:none;
}


.block.block-page.list-articles.actus.animate.animated .main-title-with-link a.link-view-all{
    bottom: inherit;
}


/*** SUBMENU OVERFLOW ****/

.front .global-wrapper {
    overflow: hidden;
}

.global-wrapper{
overflow:inherit;
}


/**** ICON HEADER YOUTUBE BUTTON ****/

.icon.youtube {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    background-image: url(images/ico-youtube.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-transition: background-image .3s;
    -o-transition: background-image .3s;
    transition: background-image .3s;
}

a:hover .icon.youtube{
    background-image: url(images/icons/ico-youtube_hover.png);
}

body > div.global-wrapper > header.is-stuck > div > div > div.header-content > div > div > div.col.col-size3 > a > span{
    line-height: 19px;
}


/**** Compte client ****/

div#cxpmClientAccountWidget {
    float: right;
    padding-right: 20px;
}

#cxpmClientAccountWidget .widget-my-selection i.cap-icon-shopping_basket {
    font-size: 19px;
	    color: #000000;
}

#cxpmClientAccountWidget .widget-text {
    padding-top: 5px;
    font-family: gotham,sans-serif;
}

#cxpmClientAccountWidget .widget-text {
    padding-top: 5px;
    font-family: gotham,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
	 margin-top: -8px;
}

#cxpmClientAccountWidget .widget-text span#widgetFirstname {
    font-weight: 500;
    font-size: 11px;
	    letter-spacing: 1.2px;
}

#cxpmClientAccountWidget .widget-text span#widgetFirstnameText {
    font-size: 11px;
	    letter-spacing: 1.2px;
		    text-transform: initial;
}

#cxpmClientAccountWidget .widget-text span a {
    color: #000000;
}

#cxpmClientAccountWidget .widget-text span.widget-logout a {
    color: #b1b1b1 !important;
    text-transform: initial;
	    font-weight: 400;
		    font-size: 11px;
}

#cxpmClientAccountWidget .widget-text .cap-icon-user-circle-o:before {
    content: "\f2be";
    position: absolute;
    margin-left: -20px;
   margin-top: 4.5px;
    font-size: 14px;
}

#cxpmClientAccountWidget .widget-my-selection a.widget-icon.openCapTrigger {
    padding: 0 2px;
}

#cxpmClientAccountWidget .widget-text span a:hover {
    color: #f10013;
}

#cxpmClientAccountWidget .widget-my-selection .widget-icon>span.number, #cxpm-connect-sso-dropdown .widget-my-selection .widget-icon>span.number {
color: #fff;
    font-weight: 700;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 9px;
    border-radius: 50%;
    background-color: #df306c;
    padding-left: 0;
    position: absolute;
    right: -4px;
    bottom: -2px;
    line-height: 16px;
    display: block;
}
.caroufredsel_wrapper {
    height: 331px !important;
}
.error404 div#zone1 {
    display: none;
}
